
/bank/data
/bank/${project..directory}/generated-sources
/bank/${project..directory}/generated-sources
/bank/${project..directory}/generated-sources/generated-sources
bank/${project..directory}/generated-sources/generated-sources/__project/groupId/artifactId_/model/AccountNotFoundError.java
bank/${project..directory}/generated-sources/generated-sources/__project/groupId/artifactId_/model/Account.java
bank/${project..directory}/generated-sources/generated-sources/__project/groupId/artifactId_/model/AccountNotFoundError.java
bank/${project..directory}/generated-sources/generated-sources/__project/groupId/artifactId_/model/AccountNotFoundError.java
bank/${project..directory}/generated-sources/generated-sources/__project/groupId/artifactId_/model/AccountNotFoundError.java
